<div class="main">
    <div id="div_form">
        <p>Form</p>
        <form action="">
            <label for="hareSpeedInput">Скорость зайца</label>
            <input type="number" name="hareDx" id="hareSpeedInput" [(ngModel)]="drawer.hare.speed">
            <br>
            <label for="wolfSpeedInput">Скорость волка</label>
            <input type="number" name="wolfDx" id="wolfSpeedInput" [(ngModel)]="drawer.wolf.speed">
            <br>
            <input type="button" value="заново" (click)="onRestartButtonClick($event)">
        </form>
    </div>
    <hr>
    <br>

    <div id="div_canvas">
        <canvas id="canvas" width="1200px" height="300px" (click)="onCanvasClick($event)">

        </canvas>
    </div>
</div>
