<div class="main">
    <div id="top-part" [ngClass]="{
    'success-image': wolf.speed > hare.speed, 'fail-image': wolf.speed <= hare.speed }">
        <div id="div_form">
            <form action="">
                <p>
                    <label for="hareSpeedInput">Скорость зайца:</label>
                    <input type="number" name="hareSpeedInput" id="hareSpeedInput"
                           required
                           step="5"
                           min="1"
                           max="200"
                           [(ngModel)]="hareSpeed"
                           #hareSpeedInput="ngModel"
                           [disabled]="Configuration.move || !Configuration.startPosition">
                    пикселей в секунду
                </p>

                <p>
                    <label for="wolfSpeedInput">Скорость волка:</label>
                    <input type="number" name="wolfSpeedInput" id="wolfSpeedInput"
                           required
                           step="5"
                           min="1"
                           max="200"
                           [(ngModel)]="wolfSpeed"
                           #wolfSpeedInput="ngModel"
                           [disabled]="Configuration.move || !Configuration.startPosition">
                    пикселей в секунду
                </p>

                <p>
                    <label for="wolfSpeedInput">Координата Y волка:</label>
                    <input type="number" name="wolfStartYInput" id="wolfStartYInput"
                           required
                           step="5"
                           min="25"
                           max="400"
                           [(ngModel)]="wolfStartY"
                           #wolfStartYInput="ngModel"
                           [disabled]="Configuration.move || !Configuration.startPosition">
                    кол-во пикселей над зайцем
                </p>

                <input type="button" value="старт"
                       [disabled]="Configuration.move || !Configuration.startPosition || hasChanges()"
                       (click)="onStartButtonClick($event)">
                <input type="button" value="заново"
                       [disabled]="Configuration.startPosition"
                       (click)="onRestartButtonClick($event)">
                <input type="button" value="применить"
                       [disabled]="Configuration.move || !Configuration.startPosition || !hasChanges()
                                || hareSpeedInput.invalid || wolfSpeedInput.invalid || wolfStartYInput.invalid"
                       (click)="onApplyButtonClick($event)">
            </form>
        </div>
        <div>
            <p>Время погони: <b>{{ drawer.curTime | number:".0-2" }}</b>с,
                ожидаемое время: <b>{{ getExpectedTime() | number:".0-2" }}</b>с,
                координата зайца: (<b>{{ (hare.curX - Configuration.centerX)  | number:".0-0" }}</b>;
                <b>{{ (Configuration.centerY - hare.curY) | number:".0-0" }}</b>),
                координата волка: (<b>{{ (wolf.curX - Configuration.centerX) | number:".0-0" }}</b>;
                <b>{{ (Configuration.centerY - wolf.curY)  | number:".0-0" }}</b>).</p>
        </div>
    </div>

    <div id="div_canvas">
        <canvas id="canvas" width="{{Configuration.canvasWidth}}" height="{{Configuration.canvasHeight}}">

        </canvas>
    </div>

    <div>
        <p><b>{{ wolf.speed > hare.speed ? "Волк догонит" : "Волк не догонит" }}</b></p>
        <p>Текущее расстояние: {{ getCurrentDistance() | number:".0-2" }}</p>

        <div *ngIf="wolf.speed === hare.speed; else elseBlock">
            <p>
                Предельное расстояние:
                {{ wolf.startY / 2 | number:".0-2" }}
            </p>
        </div>
        <ng-template #elseBlock><p>
            Предельное расстояние не существует
        </p></ng-template>
    </div>
</div>
